* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 1em;
  padding: 0 1em;
}


header {
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
}

.card {
  border: 1px solid darkgrey;
}

input {
  padding: 5px;
  border-radius: 5px;
}

.input-div {
  margin: 1.75em;
}

h1 {
  font-weight: 300;
}

h2,
p {
  padding-bottom: 8px;
}

p {
  color: #778;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.486);
  animation: fadein 0.3s ease-in;
}

.modal {
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}

hr {
  margin: 1em 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  margin: 1em;
  border-radius: 10px;
  display: flex;
}

.card:hover {
  background-color: lightgray;
  transition: all 0.3s ease-in;
}

.avatar {
  margin: 1em;
  border-radius: 50%;
}

.modal {
  width: 28%;
}

.modal-close {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  right: 2em;
  top: 0.75em;
  border-radius: 5px;
}

.modal-close:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.hidden {
  display: none;
}

.button-container {
  margin-top: 2em;
}

.modal-previous,
.modal-next {
  padding: 0.5em;
  border-radius: 10px;
}

.modal-previous:hover,
.modal-next:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 0;
}


